html, body {
    margin: 0;
    overflow: hidden;
}

#iter-area {
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#iter-area #iter-input {
    width: 2rem;
    background-color: #ffffff00;
    border-width: 0;
}
